:root {
	--color-orange: #feba08;
	--color-black: #121212;
	--color-white: #ffffff;

	--color-nav: #12121267;
	--color-main: rgba(0, 0, 0, 0.425);
	--color-nav-mobil: #121212d0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7em;
}

body {
	font-family: "Poppins", sans-serif;

	color: var(--color-white);

	font-size: 1rem;

	background-color: var(--color-black);
	background-size: cover;
}

img {
	display: block;
	width: 100%;
}

/* typography */

h1 {
	font-size: clamp(1.4rem, 5vw + 1rem, 5rem);
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: clamp(1.25rem, 3vw + 1rem, 3rem);
	text-transform: uppercase;
	text-align: center;
}

h3,
p,
li {
	font-size: clamp(1rem, 1vw + 0.2rem, 1.35rem);
}

/* layout */

.container {
	width: 90%;
	max-width: 1300px;
	margin: auto;
}

/* header */

/* nav */

/* logo */

.logo {
	font-weight: 700;
	color: var(--color-orange);
}

.logo-mobile {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	color: var(--color-orange);
}

nav {
	top: 0;
	left: 0;
	right: 0;

	width: 90%;
	margin: auto;
	padding: 0.3em 0;

	background-color: var(--color-nav);

	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;

	color: inherit;
}

nav a:hover,
nav a:active {
	color: var(--color-orange);
	padding-bottom: 0.3em;
	border-bottom: 2px solid var(--color-orange);
}

.active-link {
	color: var(--color-orange);
}

nav ul {
	margin: 0;
	padding: 1em;
	list-style: none;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

nav ul li {
	margin: 1em 0;
	font-weight: 400;
}

.buy-ticket {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--color-orange);
	padding: 0.7em 1.2em;

	background-color: var(--color-black);
	transition: all 250ms ease-in-out;
}

.buy-ticket:hover,
.buy-ticket:active {
	padding: 0.7em 1.2em;
	background-color: var(--color-orange);
	color: var(--color-black);
}

/* mobile nav */

.nav-mobile {
	background-color: var(--color-nav-mobil);
	position: fixed;
	width: 50%;
	height: 55%;
	top: -25%;
	right: 0;
	bottom: 20%;
	left: -150%;

	transform: translateX(0);
	transition: transform 350ms;
}

.nav-mobile-closed {
	transform: translateX(100%);
}

.close-nav-btn {
	position: fixed;
	background-color: var(--color-nav-mobil);
	color: var(--color-orange);

	border: none;
	align-self: flex-end;

	cursor: pointer;
	font-size: 2rem;
	padding: 0.1em;

	margin-top: 0.15em;
	z-index: 1;
	opacity: 0.8;
	top: 0;
	left: 0;
}

.fixed {
	position: fixed;
}

/* main */

main {
	margin-top: 4em;
}

/* hero */

.event-hero {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-image: url("../images/background/background-hero.jpg");
	background-color: var(--color-main);
	background-size: cover;
	background-position: center center;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
}

/* event timer */

.event-timer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.event-timer .times {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 3em;
}

.event-timer .time {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

	margin: 0 0.3em;
}

.event-timer .times .values {
	margin: 0;
	font-size: 1em;
}

/* speakers section */

.section-container {
	display: flex;
	flex-direction: column;

	margin: 3em 0;

	text-align: center;
	justify-content: flex-start;
	align-items: center;
}

.section-container div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.section-container div div {
	width: 30%;
	max-width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.event-speakers .speakers .speaker img {
	border-radius: 1.1em;
}

.event-speakers .speakers .speaker p {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #feb80842;
	border-bottom-left-radius: 1.1em;
	border-bottom-right-radius: 1.1em;

	padding-block: 0.3em;
	margin-top: -1.7em;
}

/* sponsors section */
/* section container applied */

.event-sponsors .sponsors .sponsor {
	/* change sponsor images */
	width: 15%;
}

/* footer */

footer {
	margin: 2em 0;
}

footer a {
	text-decoration: none;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.social-media {
	display: flex;
	flex-direction: column;

	text-align: center;
	justify-content: center;
	align-items: center;
}

.social-media a {
	margin: 0 0.4em;
	transition: all 250ms ease-in-out;
}

.social-media a:hover,
.social-media a:focus {
	border: 2px solid var(--color-orange);
}

.copyright-section {
	background-color: var(--color-orange);
}

.copyright-section div {
	font-size: 0.7rem;
	display: flex;
	justify-content: space-between;
}

.terms {
	color: var(--color-black);
}

/* media */

@media (min-width: 640px) {
	.logo-mobile {
		display: none;
	}

	nav {
		position: fixed;

		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	nav ul {
		width: 100%;
		max-width: 500px;
		flex-direction: row;
		justify-content: space-between;
	}

	nav ul li {
		margin: 0 0.3em;
		font-weight: 400;
	}

	.nav-mobile {
		position: initial;
		width: initial;
		height: initial;
	}

	.nav-mobile-closed {
		transform: initial;
	}

	.close-nav-btn {
		display: none;
	}
}
