:root {
	--color-orange: #feba08;
	--color-black: #121212;
	--color-nav: #12121259;
	--color-white: #ffffff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	/* scroll-padding-top: 7em; */
}

body {
	font-family: "Poppins", sans-serif;

	color: var(--color-white);

	background-image: url("../images/background/background-main.jpg");
	background-size: cover;
}

img {
	display: block;
	width: 100%;
}

/* typography */

/* layout */

.container {
	width: 90%;
	margin: auto;
}

/* header */

/* nav */

/* logo */

.logo {
	font-weight: 700;
	color: var(--color-orange);
}

nav {
	position: fixed;
	top: 0;
	background-color: var(--color-nav);
	padding-bottom: 2em;
	width: 90%;

	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;

	color: inherit;
}

nav a:hover,
nav a:active {
	color: var(--color-orange);
	padding-bottom: 0.3em;
	border-bottom: 2px solid var(--color-orange);
}

.active-link {
	color: var(--color-orange);
}

nav ul {
	margin: 0;
	padding: 1em;
	list-style: none;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

nav ul li {
	margin: 0 1em;
	font-weight: 400;
}

.buy-ticket {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--color-orange);
	padding: 0.7em 1.2em;

	background-color: var(--color-black);
	transition: all 250ms ease-in-out;
}

.buy-ticket:hover,
.buy-ticket:active {
	padding: 0.7em 1.2em;
	background-color: var(--color-orange);
	color: var(--color-black);
}
